<img src="{{ restaurant.logo_url }}">
<h1>{{ restaurant.name }}</h1>
<a href="{{ restaurant.website_url }}" target = "_blank">Website</a>
<a href="{{ restaurant.menu_url }}" target = "_blank">Menu</a>
<p>{{ restaurant.description }}</p>
<p>{{ restaurant.address }}</p>

<div>
<form action="{% url 'restaurants:vote' restaurant.id %}" method="post">
{% csrf_token %}
{% for favorite in restaurant.favorite_set.all %}
    <input type="radio" name="favorite" id="favorite{{ forloop.counter }}" value="{{ favorite.id }}" />
    <label for="favorite{{ forloop.counter }}">{{ favorite.favorite_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>	
</div>